.body {
  background-color: #1F252B;
  color: #CAD2D1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: auto;

  .title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    align-items: center;
  }
  .movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    @media(min-width: 600px) {
      font-size: 50%;
    }
  }
}